<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SqlServerConnection" connectionString="Server=MSI\MSSQLSERVER01;Database=DB_Warehouse;Trusted_Connection=True; TrustServerCertificate=True; Encrypt=True;" />
    </connectionStrings>
    <appSettings>
     
    </appSettings>
</configuration>